.navbar-toggler[b-x60f0y0e5c] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-x60f0y0e5c] {
  height: 3.5rem;
  background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-x60f0y0e5c] {
  font-size: 1.1rem;
}

.bi[b-x60f0y0e5c] {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  top: -1px;
  background-size: cover;
}

.fa-home .fa-handshake .fa-inbox .fa-shopping-cart .fa-id-card .fa-gift .fa-truck .fa-shopping-basket
.fa-file .fa-file-pdf .fa-user-circle .fa-building[b-x60f0y0e5c] {
  font-size: x-large;
}

.nav-item[b-x60f0y0e5c] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

  .nav-item:first-of-type[b-x60f0y0e5c] {
    padding-top: 1rem;
  }

  .nav-item:last-of-type[b-x60f0y0e5c] {
    padding-bottom: 1rem;
  }

  .nav-item[b-x60f0y0e5c]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
  }

    .nav-item[b-x60f0y0e5c]  a.active {
      background-color: rgba(255,255,255,0.37);
      color: white;
    }

    .nav-item[b-x60f0y0e5c]  a:hover {
      background-color: rgba(255,255,255,0.1);
      color: white;
    }

@media (min-width: 641px) {
  .navbar-toggler[b-x60f0y0e5c] {
    display: none;
  }

  .collapse[b-x60f0y0e5c] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable[b-x60f0y0e5c] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
